<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FaxCoreBaseUrl" value="https://123.faxcoreasia.com" />
    <add key="FaxCoreClientId" value="" />
    <add key="FaxCoreClientSecret" value="" />
    <add key="FaxCoreAccessToken" value="" />
    <add key="FaxCoreDomain" value="" />
    <add key="FaxCoreMessageId" value="" />
    <add key="FaxCoreUploadFile" value="" />
    <add key="FaxCoreUploadField" value="file" />
    <add key="FaxCoreUploadedFileName" value="" />
  </appSettings>
</configuration>
