<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FaxCoreBaseUrl" value="https://your-faxcore-server.example.com" />
    <add key="FaxCoreClientId" value="" />
    <add key="FaxCoreClientSecret" value="" />
    <add key="FaxCoreAccessToken" value="" />
    <add key="FaxCoreDomain" value="" />
    <add key="FaxCoreParentDomainID" value="" />
    <add key="FaxCoreDomainName" value="" />
    <add key="FaxCoreDomainDescription" value="" />
    <add key="FaxCoreDomainActive" value="true" />
    <add key="FaxCoreMessageId" value="" />
    <add key="FaxCoreXsactSeq" value="1" />
    <add key="FaxCoreImagePage" value="1" />
    <add key="FaxCoreImageWidth" value="800" />
    <add key="FaxCoreMessageSubject" value="" />
    <add key="FaxCoreTrackID" value="" />
    <add key="FaxCoreTrackValue" value="" />
    <add key="FaxCoreTargetUsernames" value="" />
    <add key="FaxCoreDelegateUsername" value="" />
    <add key="FaxCoreAgentID" value="" />
    <add key="FaxCoreAgentType" value="" />
    <add key="FaxCoreAgentValue" value="" />
    <add key="FaxCoreContactID" value="" />
    <add key="FaxCoreContactAddressID" value="" />
    <add key="FaxCoreAddressBookID" value="0" />
    <add key="FaxCoreAddressBookName" value="Sample Address Book" />
    <add key="FaxCoreContactDisplayName" value="Sample Contact" />
    <add key="FaxCoreContactFirstName" value="Sample" />
    <add key="FaxCoreContactLastName" value="Contact" />
    <add key="FaxCoreContactCompany" value="Example Company" />
    <add key="FaxCoreContactPreferAddressType" value="Fax" />
    <add key="FaxCoreContactVisibility" value="Private" />
    <add key="FaxCoreContactDescription" value="Created from .NET sample" />
    <add key="FaxCoreContactNotifyOnFailed" value="true" />
    <add key="FaxCoreContactNotifyOnSuccess" value="true" />
    <add key="FaxCoreContactAddressType" value="Fax" />
    <add key="FaxCoreContactAddress" value="+15551234567" />
    <add key="FaxCoreUploadFile" value="" />
    <add key="FaxCoreUploadField" value="" />
    <add key="FaxCoreUploadContentType" value="" />
    <add key="FaxCoreCoverPageName" value="" />
    <add key="FaxCoreProfileUserID" value="" />
    <add key="FaxCoreProfileRole" value="User" />
    <add key="FaxCoreProfileExternalAuth" value="false" />
    <add key="FaxCoreProfileActive" value="true" />
    <add key="FaxCoreProfileDisplayName" value="Sample User" />
    <add key="FaxCoreProfileFirstName" value="Sample" />
    <add key="FaxCoreProfileLastName" value="User" />
    <add key="FaxCoreProfileCompany" value="Example Company" />
    <add key="FaxCoreProfilePreferAddressType" value="Fax" />
    <add key="FaxCoreProfileDescription" value="Updated from .NET sample" />
    <add key="FaxCoreProfileCsid" value="" />
    <add key="FaxCoreProfileCallerID" value="" />
    <add key="FaxCoreProfileEmail" value="user@example.com" />
  </appSettings>
</configuration>
